doctype html 
html 
 head 
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title overview |
  link(rel='stylesheet' href='/base.css')
   

 body 
  include _header

  block content
   p coding is fun

   
  script. 
   document.getElementById('board').addEventListener('click',(e)=>{
    e.preventDefault();
    fetch('http://localhost:3000/dash')
     .then(val=>{
      if(!val.ok){
         val.json()
         .then(ans=>{
          if(ans.status==='unauthorize'){alert(ans.message); location.reload(true);}
          else{
            alert(ans.message); location.reload(true)
          }
         })
      }else{
        window.setTimeout(()=>location.assign('/dash'),1000)
      }
     })

   })


      document.getElementById('out').addEventListener('click',(e)=>{
                e.preventDefault();
          fetch('http://localhost:3000/logout')
          .then(val=>{
            if(val.ok){
                 alert(`logged out successfully`);
                 location.assign('/')
            }
          })
      })
    
  

        