<main class='main'>
    <div class='card-container'>
      <div class='card'>
        <div class='card_header'>
          <div class='card_picture'>
            <div class='card_picture-overlay'>&nbsp;</div>
            <img
              src=''
              alt=''
              class='card__picture-img' />
          </div>
          <h3 class='heading-tertiary'>
            <span>The apartment</span>
          </h3>
        </div>
        <div class='card__details'>
          <h4 class='card__sub-heading'>Easy 5-day tour</h4>
          <p class='card__text'>
            Breathtaking apartment to view from
          </p>
          <div class='card__footer'>
            <p>
              <span class='card__footer-value'>$29</span>
              <span class='card__footer-text'>per person</span>
            </p>
            <a href='#' class='btn btn--green btn--small'>Details</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  